/* #ifdef MP */
.mp-search-box {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	display: flex;
	width: 100%;
	padding-top:10px; 
	color:white;
	.location{
		flex:1.5;
		padding-left: 10px;
		text{
			font-weight: 900;
		}
	}
	.ser-input {
		width: 400upx;
		height: 56upx;
		flex:6;
		line-height: 56upx;
		text-align: center;
		font-size: 28upx;
		color: $font-color-base;
		border-radius: 5px;
		background: rgba(255, 255, 255, 0.6);
	}
	.info_img{
		flex:1;
		margin-top: -10px;
		padding-left: 10px;
		.info_icon{
			flex: 5;
			padding-left: 3px;
			font-weight: 700;
			font-size: 16px;
		}
		.black_info_txt{
			flex: 5;
			font-size: 12px;
		}
	}
}
page {
	.cate-section {
		position: relative;
		z-index: 5;
		border-radius: 16upx 16upx 0 0;
		margin-top: -20upx;
	}
	.carousel-section {
		padding: 0;
		margin-bottom:10px; 
		.titleNview-placing {
			padding-top: 0;
			height: 0;
		}
		.carousel {
			.carousel-item {
				padding: 0;
			}
		}
		.swiper-dots {
			left: 45upx;
			bottom: 40upx;
		}
	}
}
/* #endif */

page {
	background: #f5f5f5;
}
.seckill {
	margin-top: 16upx;
}
/* 头部 轮播图 */
.carousel-section {
	position: relative;
	// padding-top: 10px;
}
/* 分类 */
.cate-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 30upx 22upx 0upx 22upx;
	background: #fff;
	.cate-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-basis:19vw;
		margin-bottom: 10px;
		font-size: $font-sm + 2upx;
		color: $font-color-dark;
	}
	/* 原图标颜色太深,不想改图了,所以加了透明度 */
	image {
		width: 88upx;
		height: 88upx;
		margin-bottom: 14upx;
		border-radius: 50%;
		// opacity: 0.7;
		box-shadow: 4upx 4upx 20upx rgba(250, 67, 106, 0.3);
	}
}
/* 秒杀专区 */
.seckill-section {
	padding: 4upx 30upx 24upx;
	background: #fff;
	.s-header {
		$font-color: rgb(236, 99, 80);
		display: flex;
		align-items: center;
		height: 92upx;
		line-height: 1;
		.Assemble_text {
			font-weight: 700;
			text-align: left;
			margin-left: 10upx;
			color: $font-color;
			width: 33%;
		}
		.Assemble_time text {
			background-color: $font-color;
			color: #fff;
			border-radius: 10upx;
			margin-left: 10upx;
		}
	}
	.floor-list {
		white-space: nowrap;
	}
	.scoll-wrapper {
		display: flex;
		align-items: flex-start;
	}
	.floor-item {
		width: 150upx;
		margin-right: 20upx;
		font-size: $font-sm + 2upx;
		color: $font-color-dark;
		line-height: 1.8;
		image {
			width: 150upx;
			height: 150upx;
			border-radius: 6upx;
		}
		.price {
			color: $uni-color-primary;
		}
	}
}
/* 所有更多都使用这个样式 */
.Assemble_text_2 {
	font-size: 16px;
	text-align: right;
	margin-right: 10upx;
	width: 33%;
	color: rgb(236, 99, 80);
}
.f-header {
	display: flex;
	align-items: center;
	height: 110upx;
	padding: 0upx 30upx 8upx;
	background: #fff;

	.tit {
		font-size: $font-lg + 2upx;
		color: $font-color-dark;
		line-height: 1.3;
	}
	.scroll_title {
		margin-left: 180upx;
		width: 350upx;
		text-align: center;
		height: 80upx;
		border-bottom: 3px solid rgb(236, 99, 80);
		color: rgb(236, 99, 80);
		font-weight: 700;
	}
}

.f-header_warp {
	height: 300upx;
	.warp {
		width: 33%;
		margin-top: 6px;
		image{
			width: 230upx;
			height: 230upx;
		}
		text{
			font-size: 12px;
		}
	}
}
/* 分类推荐楼层 */
.hot-floor {
	.floor-list {
		white-space: nowrap;
		padding: 20upx;
		padding-right: 50upx;
		border-radius: 6upx;
		margin-top: -140upx;
		margin-left: 30upx;
		background: #fff;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
		position: relative;
		z-index: 1;
	}
	.scoll-wrapper {
		display: flex;
		align-items: flex-start;
	}
	.floor-item {
		width: 180upx;
		margin-right: 20upx;
		font-size: $font-sm + 2upx;
		color: $font-color-dark;
		line-height: 1.8;
		image {
			width: 180upx;
			height: 180upx;
			border-radius: 6upx;
		}
		.price {
			color: $uni-color-primary;
		}
	}
}
/* 猜你喜欢 */
.guess-section {
	display: flex;
	flex-wrap: wrap;
	padding: 0 30upx;
	background: #fff;
	.guess-item {
		display: flex;
		flex-direction: column;
		width: 48%;
		padding-bottom: 40upx;
		&:nth-child(2n + 1) {
			margin-right: 4%;
		}
	}
	.image-wrapper {
		width: 100%;
		height: 330upx;
		border-radius: 3px;
		overflow: hidden;
		image {
			width: 100%;
			height: 100%;
			opacity: 1;
		}
	}
	.title {
		font-size: $font-lg;
		color: $font-color-dark;
		line-height: 80upx;
	}
	.price {
		font-size: $font-lg;
		color: $uni-color-primary;
		line-height: 1;
	}
	.find {
		font-size: 14px;
		float: right;
		background-color: rgb(236, 99, 80);
		color: #fff;
		padding:0 5px;
		height: 35upx;
		text-align: center;
		line-height: 35upx;
		border-radius: 20px;
		.icon-ai64{
			font-size: 16px;
			display: inline;
		}
	}
}
.order_wrap{
	width: 100vw;
	height: 30px;
	margin-bottom: 10px;
	.swiper{
		width: 80%;
		height: 100%;
		padding-top:3px;
		display: inline-block;
		.swiper-item{
			color: rgb(236, 99, 80);
			text-decoration: underline;
			font-size: 16px;
		}
	}
	image{
		height: 100%;
		width: 15%;
		display: inline-block;
	}
}