page{
	height: 100%;
	width: 100vw;
	background-color: #efeff4;
}
.content{

	.img{
		width: 100vw;
		height: 3px;
		overflow: hidden;
		.division{
			width: 100vw;
		}
	}
}
.top_bar{
	  width: 100vw;
	  display: flex;
	  padding: 10px 0 14px 5px;
	  align-items: center;/*垂直居中*/
      background-color: white;
      border-top:0.1em solid #e1e1e1;
      position: relative;
      &:before{
        position: absolute;
        right: 0;
        left: 0;
        height: 4px;
        content: '';
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
        background-color: #efeff4;
        box-shadow:1px 1px 7px 4px #efeff4;
        top: -1px;
	  }
	.top_bar_info{
		flex:9;
		padding: 5px 0 0 14px;
		.name_tel{
			display: flex;
			font-size: 17px;
			.name{
				font-weight: 700;
				margin-right: 20px;
			}
			.tel{
				font-weight: 700;
				margin-right: 10px;
			}
			.btn{
				font-size: 12px;
				color: #CF2D28;
				border: 1px solid #CF2D28;
				padding: 2px 3px 0;
				margin-top: 3px;
				border-radius: 0.3em;
			}
		}
		.addrss{
			width: 70vw;
			margin-top: 5px;
			font-size: 12px;
		}
	}
	.top_bar_arrow{
		flex:1;
		text-align: center;
	}
}
.commodity_card{
	width: 100vw;
	background-color: white;
	.top{
		image{
			width: 20px;
			height: 19px;
			margin:9px 4px 0 6px;
			float: left;
		}
		.txt{
			line-height: 40px;
			font-size: 17px;
			font-weight: 300;
		}
	}
	.bottom{
		width: 100vw;
		input{
			margin-left: 10px;
			height: 100upx;
			line-height: 100upx;
			font-size:16px;
		}
		border-bottom: 1px solid #eee;
	}
	.card_wrap{
		width: 100vw;
		.item_card{
			width: 100%;
			// height: 102px;
			border-top:1px solid #c8c7cc;
			border-bottom: 1px solid #999;
			display: flex;
			padding: 10px;
			.left{
				flex:2.5;
				margin-right: 5px;
				image{
					width: 100%;
					height: 100%;
				}
			}
			.right{
				flex:7.5;
				.title{
					font-size: 14px;
				}
				.specs{
					color: #999;
					font-weight: 500;
					font-size: 13px;

				}
				.retreat{
					width: 20px;
					height: 20px;
					font-size: 14px;
					text-align: center;
					line-height: 20px;
					color: red;
					display: inline-block;
					border: 1px solid red;
					border-radius: 50%;
				}
				.guarantee{
					margin-left: 6px;
					display: inline-block;
					font-size: 15px;
				}
				.num_price{
					display: flex;
					font-size: 14px;
					margin-top:5px;
					.price{
						flex:5;
						color: red;
						text-align: left;
					}
					.num{
						flex:5;
						text-align: right;
					}
				}
			}
		}
	}
}
.settlement{
	width: 100vw;
	margin-top:20px;
	margin-bottom:120upx;
	padding: 10px;
	background-color: white;
	.settlement_item{
		display: flex;
		margin-bottom: 10px;
		.txt{
			flex:5;
			color: gray;
			font-size: 16px;
			text-align: left;
		}
		.price{
			flex:5;
			color: red;
			font-size: 14px;
			text-align: right;
		}
	}
}
.bottom_settlement{
	width: 100vw;
	height: 108upx;
	background-color: white;
	border-top: 1px solid #eee;
	position: fixed;
	bottom: 0;
	display: flex;
	.txt{
		flex:7;
		text-align: right;
		line-height: 108upx;
		.info{
			color: grey;
			font-size: 16px;
			display: inline-block;
			margin-right: 16px;
		}
		.price{
			color: red;
			font-size: 15px;
		}
	}
	.btn{
		flex:3;
		margin-left: 10px;
		height: 108upx;
		line-height: 108upx;
		color: white;
		background-color: red;
		border-radius: 0;
	}
}